.footer {
    background-color: #032137;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    color: #FFD700;
    font-weight: bold;
    font-size: 1em;
}

a {
    text-decoration: none;
    color: #FFD700;
}

@media (max-width: 425px) {
    footer {
        text-align: center;
        padding: 0; 
        margin: 0 auto;
    }

    p {
        text-align: center;
    }
}