* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(135deg, #171e32, #0c101c);
}

iframe {
  border: none;
  display: block;
}

.navbar{  
  position: fixed;
  top: 0; 
  left: 0;
}

.hero {
  margin-top: 7dvw ;
  scroll-margin-top: 8dvw;
}

.services {
  scroll-margin-top: 8dvw;
}

.footer {
  background-color: #032137; 
}

/* Dispositivos pequeños (teléfonos en modo vertical) */
@media (max-width: 425px) {
  /* Estilos para pantallas pequeñas */
  .navbar {
    height: 80px;
  }

  .hero {
    padding-top:20dvw;
    height: 800dvw;
    scroll-margin-top: 70px;
  }

  .services {
    height: 730px;
    scroll-margin-top: 70px;
  }

  .footer {
    height: 80px;
  }

  .navmenu .show {
    height: 200px;
  }
}

/* Dispositivos medianos (teléfonos en modo horizontal y tablets) */
@media (max-width: 768px) {
  /* Estilos para pantallas medianas */
  .navbar {
    height: 80px;
  }

  .hero {
    height: 800px;
  }

  .services {
    height: 730dvw;
  }

  .footer {
    height: 80px;
  }

  .navmenu .show {
    height: 200px;
  }
}

/* Dispositivos grandes (laptops y desktops) */
@media (max-width: 992px) {
  /* Estilos para pantallas grandes */
  iframe {
    height: fit-content;
  }
}

/* Dispositivos extra grandes (desktops grandes) */
@media (max-width: 1200px) {
  /* Estilos para pantallas extra grandes */
  iframe {
    height: fit-content;
  }
}

