* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Courier New, Consolas, Lucida Console;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 80%;
    background-color: rgba(9, 13, 24, 0.7);
    border-radius: 1.5em;
    padding: 1dvw 3dvw;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
}

.left-text {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #f1f1f1;
    padding: 0 1.4dvw 0 1dvw;
    font-size: 1.6em;
    line-height: 1.8;
}

.left-text h2 {
    color: #FFD700;;
}

.divider {
    width: 5px;
    background-color: #FFD700;
    align-self: stretch;
    border-radius: 4px;
    margin: 0 1dvw;
}

.right-text {
    flex: 1;
    padding-left: 1dvw;
    font-size: 2.5em;
    line-height: 1.8;
    color: #f1f1f1;
    text-shadow: 2px 2px 4px rgba(217, 219, 136, 0.7);
}

.right-text h1 {
    margin: 0;
    text-transform: uppercase;
}

.lu-services {
    display: flex;
    flex-wrap: wrap-reverse;
    list-style-type: none;
    padding: 4px;
    margin: 6px;
}

.li-services-l,
.li-services-r {
    text-align: left;
    font-size: .75em;
    font-weight: bold;
    padding-top: 0.2em;
}

.li-services-l {
    width: 42%;
}

.li-services-r {
    width: 58%;
}

.phone {
    color: #0c101c;
    background-color: #FFD700;
    display: flex;
    justify-content: center;
    border-radius: .4em;
    text-decoration: none;
    margin-top: 1.5dvw;
    font-size: 1.1em;
    font-weight: bolder;
    letter-spacing: .001em;

    &:hover {
        text-decoration: underline;
    }
}

/* Media Query para dispositivos móviles pequeños */
@media (max-width: 320px) {
    body {
        height: 400dvw;
    }

    .hero {
        align-items: center;
        height: 100dvw;
    }
}

@media (max-width: 425px) {
    .hero {
        padding-top: .4dvw;
        height: 210dvw;
    }

    .content {
        padding: .2em .9em;
        flex-direction: column-reverse;
        height: 180dvw;
    }

    .left-text {
        font-size: 1em;        
        line-height: 1.5;
    }

    .left-text h2 {
        padding-bottom: .08em;
    }

    .left-text p {
        font-size: .9em;
    }

    .divider {
        width: 100%;
        height: 5px;
        margin: 0;
        padding: 0;
    }

    .right-text {
        font-size: 1.5em;
        text-align: center;
        padding-top: 10dvw;
        margin: 0;
    }

    .li-services-l,
    .li-services-r {
        width: 100%;
    }

    .phone {
        flex-direction: column;
        text-align: center;
        padding: .05em;
    }
}

@media (max-width: 768px) {
    .hero {
        padding-top: .4dvw;
        height: 210dvw;
    }

    .content {
        padding: .2em .9em;
        flex-direction: column-reverse;
        height: 180dvw;
    }

    .left-text {
        font-size: 1em;        
        line-height: 1.5;
    }

    .left-text h2 {
        padding-bottom: .08em;
    }

    .left-text p {
        font-size: .9em;
    }

    .divider {
        width: 100%;
        height: 5px;
        margin: 0;
        padding: 0;
    }

    .right-text {
        font-size: 1.5em;
        text-align: center;
        padding-top: 10dvw;
        margin: 0;
    }

    .li-services-l,
    .li-services-r {
        width: 100%;
    }

    .phone {
        flex-direction: column;
        text-align: center;
        padding: .05em;
    }
}

/* Dispositivos grandes (laptops y desktops) */
@media (max-width: 992px) {
    /* Estilos para pantallas grandes */
    iframe {
      height: fit-content;
    }
  }
